<%- include("header") -%>
<section>
  <div class="Home-background">
    <h1 class="text-center" style="padding-top: 10%;">Nearest police station is ... km away</h1>
    <h2 class=" text-center" style="padding-top: 5%; padding-bottom:20%">Call Nearest Police Station ...</h2>
  </div>

  <div class="card-deck row-cols-md-3 description">
    <div class="card description_card">
      <hr><br>
      <h5 class="card-title" style="color:#767676">Show Police Station near me</h5><br>
      <img src="images/police_station.jpg" class="card-img-top" alt="police station map.">
      <div class="card-body">

        <p class="card-text text-center" style="color:#888">Showing police station within 10Km</p>
      </div>
    </div>

    <div class="card description_card">
      <div class="card-body">
        <h5 class="card-title"><strong>WHAT WE OFFER</strong></h5>
        <p class="card-text">
          <ul class="list_description">
            <li>
              Easy way of posting FIR
            </li>
            <li> Better communication between police officials and public
            </li>
            <li>Conferencing
            </li>
            <li>Suggested Steps</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>

<section style="padding-top:8%;">
  <div class="lock_key">
    <h1 class="text-center" style="padding-top: 12%; font-size: 3.2rem;"><strong>RELIABLE SERVICES</strong></h1>
  </div>
</section>

<section>
  <div class="WallOfFame">
    <h2>WALL OF FAME</h2>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row-cols-md-2 row">
          <div class="WallOfFame_description">
            <p>"While I had been locked out of my flat, Goodman were recommended to me by a neighbor.
              They arrived in 10 minutes and opened the lock without damaging it. I'm one happy customer!"</p>
            <h4><strong>Peter Miller</strong></h4>
          </div>
          <div class="WallOfFame_description">
            <p>"While I had been locked out of my flat, Goodman were recommended to me by a neighbor.
              They arrived in 10 minutes and opened the lock without damaging it. I'm one happy customer!"</p>
            <h4><strong>Peter Miller</strong></h4>
          </div>
        </div>


      </div>
      <div class="carousel-item">
        <div class="row-cols-md-2 row">
          <div class="WallOfFame_description">
            <p>"While I had been locked out of my flat, Goodman were recommended to me by a neighbor.
              They arrived in 10 minutes and opened the lock without damaging it. I'm one happy customer!"</p>
            <h4><strong>Peter Miller</strong></h4>
          </div>
          <div class="WallOfFame_description">
            <p>"While I had been locked out of my flat, Goodman were recommended to me by a neighbor.
              They arrived in 10 minutes and opened the lock without damaging it. I'm one happy customer!"</p>
            <h4><strong>Peter Miller</strong></h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row-cols-md-2 row">
          <div class="WallOfFame_description">
            <p>"While I had been locked out of my flat, Goodman were recommended to me by a neighbor.
              They arrived in 10 minutes and opened the lock without damaging it. I'm one happy customer!"</p>
            <h4><strong>Peter Miller</strong></h4>
          </div>
          <div class="WallOfFame_description">
            <p>"While I had been locked out of my flat, Goodman were recommended to me by a neighbor.
              They arrived in 10 minutes and opened the lock without damaging it. I'm one happy customer!"</p>
            <h4><strong>Peter Miller</strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section>
  <div class="lock_key2">
    <h1 class="text-center" style="padding-top: 8%;font-size: 3rem;padding-left: 20%;padding-right: 20%;padding-bottom: 3%;"><strong>DO YOU WANT TO REGISTER FIR ?</strong></h1>
    <h4 class="text-center"><a href="Contact" style="color: #fff;  text-decoration: underline; letter-spacing: 0.2rem">CONTACT US</a></h4>

  </div>
</section>
<%- include("footer") -%>