<%- include("header") -%>

<div class="Home-background">
  <h1 class="text-center" style="padding-top: 10%; font-size: 3.5rem;"><strong>SERVICES</strong></h1>
</div>
<section class="service_section">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="border:none;">
        <div class="card-body text-center">
          <h5 class="card-title"><img src="images/documents.jpg" alt="documents"></h5>
          <h5>Documents</h5>
          <p class="card-text color888">All the important documentations will be here, only accessible to members associated</p>
          <a href="LoginPolice" class="btn btn-primary">Law enforcers</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="border:none;">
        <div class="card-body text-center">
          <h5 class="card-title "><img src="images/plus.jpg" alt="plus-sign"></h5>
          <h5>Hospitals</h5>
          <p class="card-text color888">Medical reports from hospital</p>
          <a href="LoginMedical" class="btn btn-primary">Medical</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="border:none;">
        <div class="card-body text-center">
          <h5 class="card-title"><img src="images/magnify.jpg" alt="magnifying glass"></h5>
          <h5>Database of Solved/Unsolved cases</h5>
          <p class="card-text color888">Only avcesible to Officers</p>
          <a href="LoginDatabase" class="btn btn-primary">Database</a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>

<%- include("footer") -%>